<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/createUser">Create User</a>
        <a href="/login">Login</a>
    </nav>
    <h1>This is my website</h1>
</body>
</html>
